@model ReminderCreateViewModel

@using (Html.BeginForm("CreateReminder","Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="col text-left ml-2">
                            <label>Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" asp-for="Title" class="form-control form-control-lg rounded-0" placeholder="Optional">
                        </div>
                    </div>
                </div>
                <div class="col-5 pr-0  mr-0">
                    <div class="row">
                        <div class="col text-left ml-2">
                            <label>Reminder date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg rounded-0" type="datetime-local" asp-for="ReminderDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">
                        </div>
                    </div>
                </div>
                <div class="col-2 pl-0  ml-0" style="margin-top:31px;">
                    <div class="row ">
                        <div class="col">
                            <button type="submit" class="btn btn-success btn-lg "><i class="fas fa-plus-circle fa-lg "></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
    </div>

}